<h2>My name is <%= @employee.name %>. I am an insignificant part of this company.</h2>

<% if @employee.projects.any? %>
  <ul>
    <% @employee.projects.each do |project| %>
      <%= link_to project.name, project_path(project.id) %>
    <% end %>
    </ul>
<%else %>
  <p>There are no assigned projects for this employee</p>
<%end%>



<p><%= link_to "Assign a project", new_project_path(@employee.id) %></p>
<p><%= link_to "Back to the #{@division.name} page", division_path(@division.id) %></p>
