<h1>The Division of <%= @division.name %></h1>

<% if @division.employees.any? %>
  Current employees
  <ul>
    <% @division.employees.each do |employee| %>
      <li><%= link_to employee.name, division_employee_path(division_id: @division.id, id: employee.id) %></li>
    <% end %>
    </ul>
<%else %>
  <p>There are no employees here.</p>
<%end%>

<%= link_to "Add a new employee to the Division", new_division_employee_path(division_id: @division.id) %>
